h1{
  color: white;
  text-align: center;
  background-image: url("https://schoolofrock.imgix.net/img/hero-large@2x/guitar-lessons1527266771.jpg?auto=format&w=750");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-attachment: fixed;
  width: 100%;
  padding: 100px;
  background-size: auto;
}
p {
  color: black;
  text-align: center;
  line-height: 1.8;
} 

